.logo {
    height: auto;
    max-height: 180px;
    max-width: 80%;
}

tbody {
    margin: auto;
}

.main-content table th {
    background-color: #fff;
    color: #202020;
    padding: 0.5rem;
}

.main-content th img {
    width: 100px;
}

td:not(:first-child) {
    text-align: center;
    font-weight: bold;
}

td[data="10"] { 
    color: #009933;
}
td[data="9"] { 
    color: #009933;
}
td[data="8"] { 
    color: #009933;
}
td[data="7"] { 
    color: #ffcc00;
}
td[data="6"] { 
    color: #ffcc00;
}
td[data="5"] { 
    color: #ff6600;
}
td[data="4"] { 
    color: #ff6600;
}
td[data="3"] { 
    color: #cc0000;
}
td[data="2"] { 
    color: #cc0000;
}
td[data="1"] { 
    color: #800000;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

@media screen and (min-width: 64em) { .main-content { max-width: 80rem; padding: 2rem 6rem; margin: 0 auto; font-size: 1.1rem; } }
