tbody {
    margin: auto;
}

.main-content table th {
    background-color: #fff;
    color: #202020;
    padding: 0.5rem;
}

.main-content th img {
    width: 100px;
}

td:not(:first-child) {
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

@media screen and (min-width: 64em) { .main-content { max-width: 80rem; padding: 2rem 6rem; margin: 0 auto; font-size: 1.1rem; } }
