---
layout: default
title: {{ site.name }}
---

<h3>Bankvergelijker</h3>
<p>Bekijk hier de scores van het investeringsbeleid van de negen grootste banken van Nederland. <br><br>
<ul>
  <li>Rood staat voor een score van een 1-4.</li>
  <li>Oranje staat voor een score van 5-7.</li>
  <li>Groen staat voor een score van 8-10.</li>
</ul>
<br><br>
Bunq investeert alleen in staatsobligaties, hier valt dus geen score voor te berekenen.
</p>

{% assign data_set = site.data | sort %}
<table>
    <tr>
        <th></th>
        {% for bank in data_set %}
        <th>
            <img src="{{ bank[1].Logo }}" alt="{{ bank[1].Name }}" />
        </th>
        {% endfor %}
    </tr>
    <tr>
        <td>Bonussen</td>
        {% for bank in data_set %}
        <td>{{ bank[1].Report.Bonussen.Grade }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Dierenwelzijn</td>
        {% for bank in data_set %}
        <td>{{ bank[1].Report.Dierenwelzijn.Grade }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Klimaatverandering</td>
        {% for bank in data_set %}
        <td>{{ bank[1].Report.Klimaatverandering.Grade }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Transparantie</td>
        {% for bank in data_set %}
        <td>{{ bank[1].Report.Transparantie.Grade }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Gezondheid</td>
        {% for bank in data_set %}
        <td>{{ bank[1].Report.Gezondheid.Grade }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Gendergelijkheid</td>
        {% for bank in data_set %}
        <td>{{ bank[1].Report.Gendergelijkheid.Grade }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Wapens</td>
        {% for bank in data_set %}
        <td>{{ bank[1].Report.Wapens.Grade }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Mensenrechten</td>
        {% for bank in data_set %}
        <td>{{ bank[1].Report.Mensenrechten.Grade }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Arbeidsrechten</td>
        {% for bank in data_set %}
        <td>{{ bank[1].Report.Arbeidsrechten.Grade }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Woningbouw & vastgoed</td>
        {% for bank in data_set %}
        <td>{{ bank[1].Report.Woningbouw-vastgoed.Grade }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Bosbouw</td>
        {% for bank in data_set %}
        <td>{{ bank[1].Report.Bosbouw.Grade }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Corruptie</td>
        {% for bank in data_set %}
        <td>{{ bank[1].Report.Corruptie.Grade }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Visserij</td>
        {% for bank in data_set %}
        <td>{{ bank[1].Report.Visserij.Grade }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Financiële sector</td>
        {% for bank in data_set %}
        <td>{{ bank[1].Report.Financiele-sector.Grade }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Elektriciteitsproductie</td>
        {% for bank in data_set %}
        <td>{{ bank[1].Report.Elektriciteitsproductie.Grade }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Natuur</td>
        {% for bank in data_set %}
        <td>{{ bank[1].Report.Natuur.Grade }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Belastingen</td>
        {% for bank in data_set %}
        <td>{{ bank[1].Report.Belastingen.Grade }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Voeding</td>
        {% for bank in data_set %}
        <td>{{ bank[1].Report.Voeding.Grade }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Maakindustrie</td>
        {% for bank in data_set %}
        <td>{{ bank[1].Report.Maakindustrie.Grade }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Mijnbouw</td>
        {% for bank in data_set %}
        <td>{{ bank[1].Report.Mijnbouw.Grade }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Olie en gas</td>
        {% for bank in data_set %}
        <td>{{ bank[1].Report.Olie-gas.Grade }}</td>
        {% endfor %}
    </tr>
</table>

<h4>Disclaimer</h4>
<p>Ut tellus sapien, euismod ac purus vitae, sodales maximus ligula. Fusce pretium, ligula vitae iaculis aliquam, nunc massa aliquet massa, vitae sodales nisl purus id nulla. Nam nec quam sit amet lorem vulputate bibendum non eget dui. Quisque sit amet leo interdum, finibus massa volutpat, feugiat ipsum.</p>
